@font-face {
  font-family: Neucha;
  src: url(../fonts/Neucha-Regular.ttf);
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: AmaticSC;
  src: url(../fonts/AmaticSC-Regular.ttf);
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: BadScript;
  src: url(../fonts/BadScript-Regular.ttf);
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: BalsamiqSans;
  src: url(../fonts/BalsamiqSans-Regular.ttf);
  font-style: normal;
  font-weight: 400; }

body {
  margin: 0;
  padding: 0; }

div {
  box-sizing: border-box; }

.bat-on-branch {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  /*opacity: 0;
  animation: bat-appear 1.5s 2s 1 normal forwards;*/ }
  .bat-on-branch__branch {
    width: 100%; }
  .bat-on-branch__bat {
    width: 100%;
    position: absolute;
    top: 5px;
    left: 0; }
  .bat-on-branch__bat:hover, .bat-on-branch__bat:active {
    animation: bat-swing 1.5s 1 normal ease-in; }

@keyframes bat-appear {
  100% {
    opacity: 1; } }

@keyframes bat-swing {
  0% {
    transform-origin: center top; }
  40% {
    transform: rotate(-10deg); }
  75% {
    transform: rotate(7deg); } }

.animals-canvas {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: none;
  transition-property: none; }

.move-canvas-down {
  animation: move-canvas-down 5s linear 1 normal; }

.move-canvas-right {
  animation: move-canvas-right 6s linear 1 normal; }

.move-canvas-up {
  animation: move-canvas-up 5s linear 1 normal; }

.move-canvas-left {
  animation: move-canvas-left 6s linear 1 normal; }

@keyframes move-canvas-left {
  to {
    transform: translateX(-105vw); } }

@keyframes move-canvas-right {
  to {
    transform: translateX(105vw); } }

@keyframes move-canvas-up {
  to {
    transform: translateY(-88vh); } }

@keyframes move-canvas-down {
  to {
    transform: translateY(88vh); } }

section {
  padding-top: 120px;
  padding-bottom: 100px;
  box-sizing: border-box;
  background-color: #f5f1e0;
  background-image: url("../img/tropical-leaves-top.png"), url("../img/tropical-leaves-down_b.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top, center bottom; }

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 6em;
  height: 3em;
  z-index: 3;
  font-family: Neucha;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background: url("../img/interface-button3.png") no-repeat center top/contain;
  transition-duration: 0.4s; }
  .menu-button-first {
    top: 0; }
  .menu-button-second {
    top: 3em; }

.menu-button:focus {
  transform: scale(0.9); }

.resume {
  margin: 0 auto;
  padding: 30px 25px 15px 25px;
  background: rgba(245, 241, 244, 0.5); }
  .resume__heading {
    padding: 0;
    margin: 0;
    text-align: center; }
  .resume__name {
    font-family: BadScript;
    font-size: 36px;
    font-weight: bold;
    color: #d6c750;
    line-height: 1.3em;
    padding-bottom: 0.3em;
    text-shadow: 0 0 2px #31382f, 1px 1px 2px #31382f, -1px -1px 2px #31382f; }
  .resume__job {
    font-family: Neucha;
    font-size: 20px;
    color: #2f8f96;
    text-shadow: 0 0 3px #ffffff, 1px 1px 3px #ffffff; }
  .resume__list-title {
    font-family: Neucha;
    color: #24501d;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 2px #ffffff, 1px 1px 2px #ffffff; }
  .resume__photo-wrap {
    width: 100%;
    max-width: 350px;
    margin: 30px auto 0 auto; }
  .resume__photo {
    width: 100%;
    height: auto;
    border-radius: 20px; }
  .resume__contacts {
    width: 100%; }
  .resume__contact {
    font-family: Neucha;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #d6c750;
    text-shadow: 0 0 2px #31382f, 1px 1px 2px #31382f, -1px -1px 2px #31382f; }
  .resume__telegram-link {
    color: #d6c750;
    text-decoration: none; }

.icreate-list {
  max-width: 370px;
  margin: 0 auto;
  padding-left: 3%;
  text-align: center; }

.iuse-list {
  height: 200px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-left: 7%; }
  .iuse-list__item {
    width: 120px;
    flex-shrink: 0; }

.icreate-list__item, .iuse-list__item {
  color: #24501d;
  font-family: Neucha;
  font-size: 17px;
  padding-top: 0.2em;
  padding-bottom: 0.2em; }

.email-icon, .telegram-icon {
  width: 25px;
  margin-right: 5px; }

.email-icon {
  transform: translateY(20%); }

.telegram-icon {
  transform: translateY(25%); }
