body {
	font-family: "Courier New", monospace;
	margin: 0;
	padding: 0;
}
div {
	box-sizing: border-box;
}
h3, p {
	margin: 0;
	font-weight: 100;
}
.contact-heading {
	max-width: 980px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.contact-heading h3 {
	font-size: 40px;
	color: #B77231;
	margin-left: 30px;
}
.contact-container {
	max-width: 980px;
	height: 368px;
	margin: 0 auto;
	margin-bottom: 97px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-content: space-between;
}
.contact-container img {
	width: 480px;
	height: 360px;
	border: 4px solid #fff;
}
.card {
	width: 470px;
	padding: 20px;
	background-color: bisque;
	text-align: center;
	border: 4px solid #fff;
}
.card p {
	font-size: 17px;
	line-height: 1.4em;
}
.info-bold {
	font-weight: 600;
}
.contact-form {
	width: 470px;
	height: 210px;
	padding: 15px 20px;
	background-color: burlywood;
	border: 4px solid #fff;
}
.form-inputs {
	display: flex;
	justify-content: space-between;
	flex-flow: column wrap;
	align-content: space-evenly;
	height: 50px;
}
.contact-form p {
	font-size: 17px;
}
input {
    width: 190px;
	height: 20px;
}
.star {
	color: #fff;
}
.message {
	margin-left: 10px;
	margin-top: 10px;
}
textarea {
	margin-left: 10px;
	width: 396px;
	height: 65px;
}
.button-block {
	width: 396px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}
.button-block input {
	height: 25px;
	width: 150px;
	font-size: 14px;
	font-weight: 600;
	color: #AD4D59;
	background-color: #FDDA9D;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.button-block input:hover {
	color: #FDDA9D;
	background-color: #AD4D59;
}
