.production-wrap h2 {
	color: #B77231;
	font-size: 40px;
	padding: 0 30px 20px;
}
.production-wrap {
	width: 920px;
	height: 100%;
	margin: 0 auto;
}
.production-container {
	height: 590px;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: 50% 50%;
	justify-items: center;
	align-items: center;
}
#production-more {
	height: 260px;
	margin: 20px 0 50px 0;
	grid-template-rows: 100%;
	display: none;
}
.production-image {
	border: 4px solid #fff;
	background-color: #fff;
	text-align: center;
}
.production-image img {
	height: 212px;
	width: 213px;
}
.production-image img:hover {
	opacity: 0.6;
}
.production-image h3 {
	color: #DEA963;
	font-size: 23px;
	margin-top: 5px;
}
.production-image p {
	margin-bottom: 10px;
	font-weight: 100;
}
.more {
	padding-top: 20px;
	text-align: center;
}