/* общие для всех страниц стили для текста */
p {
	font-size: 1em;
	margin: 0 !important;
	color: #A2A2A2 !important;
}
button:focus {
	outline: none;
}
.navbar-logo {
	text-align: center;
}
.navbar-brand {
	font-family: Jura !important;
	font-size: 2em;
	line-height: 1em;
	color: #FF9E23 !important;
	margin: 0 auto !important;
}
.nav-link {
	font-family: Montserrat-Regular;
	font-size: 1.1em;
	color: #A2A2A2;
}
.nav-link:hover {
	color: #80A001 !important;
}
.active-navbar-item .nav-link {
	color: #80A001 !important;
}
.header-basket-icon {
	background: none;
	border: none;
}
.header-basket-icon img {
	width: 50px;
}
footer {
	max-width: 900px !important;
}
footer p {
	font-family: Montserrat-Light;
}
/* мобильная версия */
.navbar-logo {
	padding: 0.3em 0.7em;
	border-bottom: 1px solid #FF9E23;
}
.navbar-toggler {
	padding-right: 0;
}
.navbar-toggler-active {
	position: fixed;
	top: 8px;
	right: 15px;
	z-index: 3;
}
.navbar-toggler-icon {
	background-image: url('../img/burger.png');
	width: 60px;
	height: 60px;
}
.navbar-toggler-active .navbar-toggler-icon {
	background-image: url('../img/close-orange.png');
}
.navbar-collapse {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	flex-flow: column nowrap !important;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	background: url('../img/bouncing-fruits.gif') no-repeat center center / cover;
}
.navbar-nav {
	margin: 0 auto;
	width: 200px;
}
.navbar-item {
	padding: 0 1em !important;
	border-bottom: 1px solid #FF9E23;
}
.navbar-item:last-of-type {
	border-bottom: none;
	text-shadow: 0 0 3px #fff, 1px 1px 3px #fff, -1px -1px 3px #fff;
}
.nav-link {
	color: #FF9E23 !important;
	width: 170px;
}
.header-basket-icon {
	position: relative;
}
#basket-number {
	position: absolute;
	top: 31%;
	left: 41%;
	font-family: 'Open Sans Condensed-Light';
	font-size: 1.4em;
	color: #ffffff;
	z-index: 2;
}
footer {
	flex-direction: column;
	justify-content: flex-start;
}
.footer-icons {
	text-align: center;
	order: -1;
	margin-bottom: 10px;
}
.footer-icons img {
	width: 35px;
	margin-left: 15px;
}
.footer-icons img:first-of-type {
	margin-left: 0;
}
/* медиа-запросы */
@media screen and (min-width: 576px) {
	nav {
		max-width: 550px !important;
	}
}
@media screen and (min-width: 768px) {
	nav {
		display: flex;
		flex-direction: row-reverse !important;
		max-width: 900px !important;
	}
	.navbar-collapse {
		display: flex;
		flex-flow: row nowrap !important;
		position: static;
		width: auto;
		height: auto;
		text-align: inherit;
		background: none;
		margin-left: 0.7em;
	}
	.navbar-nav {
		margin: 0;
		width: auto;
	}
	.navbar-logo {
		width: 130px !important;
		height: 125px;
		border: 1px solid #FF9E23;
	  border-radius: 50%;
		padding-top: 1.3em;
	}
	.navbar-brand {
		width: 70px !important;
		white-space: normal !important;
	}
	.navbar-item {
		padding: 0 0.5em !important;
		border-bottom: none;
	}
	.nav-link {
		color: #A2A2A2 !important;
		width: inherit;
	}
	.navbar-item:last-of-type {
		text-shadow: none;
	}
	footer {
		flex-direction: row;
		width: 90% !important;
	}
	.footer-icons {
		order: 0;
	}
	.footer-icons img {
		width: 28px;
		margin-left: 10px;
	}
}
@font-face {
	font-family: Jura;
	src: url('../fonts/Jura-SemiBold.ttf');
}
@font-face {
	font-family: Montserrat-Regular;
	src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
	font-family: Montserrat-Light;
	src: url('../fonts/Montserrat-Light.ttf');
}
@font-face {
	font-family: 'Open Sans Condensed-Light';
	src: url('../fonts/OpenSansCondensed-Light.ttf');
}