/* мобильная версия */
h1 {
	font-size: 1.4em;
	line-height: 1.5em;
	margin-bottom: 1em;
}
h2 {
	font-size: 1.2em;
}
.container {
	min-height: calc(90vh - 90px);
}
/* общие стили */

h1, h2 {
	font-family: Montserrat-Regular;
	color: #80A001;
}
h1 {
	letter-spacing: 0.2em;
}