/* orange : #FF9E23
green: #80A001
light green : #a2cb01
light grey : #A2A2A2
dark grey : #545655
almost invisible grey : #e8e8e8
'Open Sans Condensed-Light'
*/

/* общие стили */
body {
	font-family: Montserrat-Light;
}
button:focus, a:focus {
	outline: none;
}
#modal-window-background {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
#modal-window {
	padding: 0;
	border-radius: 30px;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	border: none;
	opacity: 0;
	
	transition-property: opacity;
	transition-duration: 1s;
}
#modal-window p {
	font-family: Montserrat-Regular;
	color: #FF9E23 !important;
}
.modal-window-h2 {
	height: 60px;
	line-height: 60px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	color: #ffffff;
	background-color: #FF9E23;
}
#modal-order-form input {
	font-size: 0.9em;
	color: #A2A2A2;
	width: 270px;
	border: 1px solid #A2A2A2;
}
#modal-payment-select, {
	border: 1px solid #A2A2A2;
}
#modal-delivery-select {
	width: 100%;
	border: 1px solid #A2A2A2;
}
#modal-order-form input:focus, #modal-order-form select:focus {
	outline-color: #A2A2A2;
}
#order-confirm-btn {
	font-family: 'Open Sans Condensed-Light';
	font-size: 1.7em;
	width: 250px;
	height: 50px;
	margin: 0 auto;
	padding-bottom: 5px;
	color: #ffffff;
	background-color: #FF9E23;
	border-radius: 10px;
	border: none;
	transition-duration: 0.5s;
}
#order-confirm-btn:hover {
	color: #FF9E23;
	background-color: #ffffff;
	border: 1px dotted #FF9E23;
}
h2 {
	font-family: Montserrat-Regular;
	font-size: 1.4em;
	color:  #80A001;
	margin: 0;
	border-bottom: 1px solid #e8e8e8;
}
.basket-item {
	display: none;
	justify-content: flex-start;
	padding: 20px 0;
	border-bottom: 1px solid #e8e8e8;
	transform: none;
	opacity: 1;
	
	transition-property: transform, opacity;
	transition-duration: 300ms;
}
.basket-item-deleted {
	transform: translateX(-470px);
	opacity: 0;
}
.basket-item-img {
	border: 1px dotted #e8e8e8;
}
.basket-item-price {
	font-family: 'Open Sans Condensed-Light';
	font-size: 1.4em;
	color: #545655 !important;
}
.delete-basket-item-btn {
	transform: rotate(45deg);
	background: none;
	border: none;
	cursor: pointer;
}
.delete-item-line {
	position: relative;
	background-color: #A2A2A2;
	width: 17px;
	height: 2px;
}
.delete-item-line:hover {
	background-color: #80A001;
}
.delete-item-line:after {
	content:"";
	position: absolute;
	top: -7px;
	left: 7px;
	width: 2px;
	height: 17px;
	background-color: inherit;
}
.empty-cart {
	display: none;
	padding-bottom: 25px;
}
.empty-cart img {
	width: 100%;
}
.continue-shopping-btn {
	font-family: 'Open Sans Condensed-Light';
	padding: 5px 20px 8px 20px;
	color: #57c06d;
	background-color: #e7f6ea;
	border: 1px dotted #57c06d;
	
	transition-duration: 0.5s;
}
.continue-shopping-btn:hover {
	color: #e7f6ea;
	background-color: #57c06d;
}
.continue-shopping-btn a {
	color: inherit;
	text-decoration: none;
}
.promocode-wrap {
	display: none;
	padding: 16px 0 32px 0;
}
.note-wrap {
	display: none;
	padding: 16px 0;
}
.promocode-wrap-show, .note-wrap-show {
	display: flex;
}
#enter-promocode-a, #add-note-a {
	font-family: 'Open Sans Condensed-Light';
	font-size: 1.3em;
	letter-spacing: 0.03em;
	cursor: pointer;
	color: #80A001;
	width: auto;
}
#enter-promocode-a {
	padding-right: 3px;
}
#enter-promocode-a:hover, #add-note-a:hover {
	color: #A2A2A2;
}
#promocode-icon, #add-note-icon {
	height: 50px;
	margin-left: 10px;
}
#promocode-icon:hover, #add-note-icon:hover {
	transform: rotate(360deg);
	transition-duration: 1s;
}
#enter-promocode-input {
	height: 50px;
	padding: 0 10px;
	border: 1px solid #e8e8e8;
}
#enter-promocode-input::placeholder, #note-textarea::placeholder {
	color: #A2A2A2;
}
#enter-promocode-input:hover, #note-textarea:hover {
	border-color: #A2A2A2;
}
#enter-promocode-input:focus, #note-textarea:focus {
  outline-color: #80A001;
}
#apply-promocode-btn, #save-note-btn {
	width: 120px;
	background: none;
	color: #A2CB01;
	border: 1px solid #A2CB01;
}
#apply-promocode-btn:hover, #save-note-btn:hover {
	color: #BEDB4D;
	border-color: #BEDB4D;
}
#note-textarea {
	font-size: 0.9em;
	padding: 5px 10px;
	border: 1px solid #e8e8e8;
}
#save-note-btn {
	height: 40px;
}
#order-form {
	padding: 20px 0;
}
#order-form p {
	font-size: 1em;
}
#total-price-p {
	font-size: 1.2em !important;
	font-family: Montserrat-Regular;
	color: #545655 !important;
	border-top: 1px solid #e8e8e8;
}
#delivery-method-select {
	font-size: 0.9em;
}
#order-price, #delivery-price {
	color: #545655;
}
#order-button {
	font-family: 'Open Sans Condensed-Light';
	font-size: 1.5em;
	height: 45px;
	padding-bottom: 2px;
	border: none;
  color: #F7FFC8;
  background-color: #A2CB01;
}
#order-button:hover {
	color: #ffffff;
  background-color: #BEDB4D;
}
#order-button:focus {
	outline: none;
}
/* мобильная версия */
#modal-window {
	width: 100%;
}
#modal-order-form {
	height: 530px;
	padding: 20px;
}
.modal-order-form-label {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 270px;
	margin: 0 auto;
}
#modal-payment-select {
	width: 100%;
}
#order-confirm-btn {
	margin-top: 10px;
}
.basket-item-img {
	width: 140px;
}
.basket-item-info-wrap {
	padding-left: 10px;
}
.basket-item-title {
	font-family: Montserrat-Regular;
	font-size: 1em;
	color: #FF9E23 !important;
}
.empty-cart h3 {
	font-size: 22px;
}
.continue-shopping-btn {
	font-size: 24px;
}
.promocode-wrap, .note-wrap {
	flex-direction: column;
	width: 100%;
}
#enter-promocode-input {
	width: 100%;
}
#apply-promocode-btn {
	height: 40px;
}
#note-textarea {
	width: 100%;
	height: 250px;
}
#delivery-method-select {
	width: 100%;
}
#order-button {
	width: 100%;
}
/* медиа-запросы */
@media screen and (min-width: 360px) {
	#modal-order-form {
		padding: 20px 40px;
	}
}
@media screen and (min-width: 410px) {
	#delivery-method-select {
		width: auto;
		padding-right: 5px;
	}
	.basket-item-img {
		width: 150px;
	}
}
@media screen and (min-width: 440px) {
	#modal-window {
		width: 90%;
	}
	.basket-item-img {
		width: 160px;
	}
	.basket-item-title {
		font-size: 1.2em;
	}
	.empty-cart h3 {
		font-size: 24px;
	}
	.promocode-wrap, .note-wrap {
		width: auto;
	}
	.note-wrap {
		align-items: flex-end;
	}
	.promocode-wrap {
		flex-direction: row;
	}
	#enter-promocode-input {
		width: 280px;
	}
	#apply-promocode-btn {
		height: 50px;
	}
	#note-textarea {
		width: 370px;
		height: 150px;
	}
	#order-button {
		width: 200px;
	}
}
@media screen and (min-width: 500px) {
	#modal-window {
		width: 85%;
	}
}
@media screen and (min-width: 530px) {
	#modal-order-form {
		height: 460px;
	}
	.modal-order-form-label {
		display: block;
		width: 100%;
	}
	#modal-order-form p {
		display: inline;
	}
	#modal-order-form input {
		float: right;
	}
	#modal-payment-select {
		float: right;
		width: auto;
		margin-top: 0;
	}
	#modal-delivery-select {
		margin-top: 8px;
	}
	#order-confirm-btn {
		margin-top: 0;
	}
}