/* общие стили */
body {
	min-height: 100vh;
}
p {
	margin: 0 !important;
	color: #A2A2A2 !important;
}
h1 {
	font-family: 'Open Sans Condensed-Light';
	color: #80A001;
}
.buy-btn {
	font-family: Montserrat-Light;
	color: #ffffff;
	background-color: #B5D831;
	border: none;
	padding: 5px 20px;
}
/* мобильная версия */
.lemon-wrap {
	width: 100vw;
	height: calc(100vw * 1.3);
	padding-right: 7%;
}
.buy-btn {
	margin-top: 7%;
	font-size: 1.1em;
}
.h1-and-btn-wrap {
	min-width: 165px;
	width: 50%;
	height: 100%;
	padding-bottom: 42%;
}
h1 {
	font-size: 1.6em;
	line-height: 1.2em;
}
/* медиа запросы */
@media screen and (orientation: portrait) {
	.lemon-wrap {
		background: url('../img/vertical_lemons.jpg') no-repeat center top / contain;
		max-width: 780px;
		max-height: 1109px;
	}
}
@media screen and (orientation: landscape) {
	.lemon-wrap {
		background: url('../img/main-juice-big.jpg') no-repeat center top / contain;
		max-width: 599px;
		max-height: 677px;
	}
}
@media screen and (min-width: 350px) {
	.h1-and-btn-wrap {
		padding-bottom: 40%;
	}
	h1 {
		font-size: 1.7em;
	}
	.buy-btn {
		margin-top: 10%;
	}	
}
@media screen and (min-width: 440px) {
	.h1-and-btn-wrap {
		width: 55%;
	}
}
@media screen and (min-width: 500px) {
	.lemon-wrap {
		width: 500px;
		height: calc(500px * 1.3);
	}
}