/* общие для всех страниц стили для текста */
p {
	font-size: 1em;
	margin: 0 !important;
	color: #A2A2A2 !important;
}
footer p {
	font-family: Montserrat-Light;
}
/* мобильная версия */
.navbar-logo {
	padding: 0.3em 0.7em;
	border-bottom: 1px solid #FF9E23;
}
.navbar-toggler {
	padding-right: 0;
}
.navbar-toggler-active {
	position: fixed;
	top: 8px;
	right: 15px;
	z-index: 3;
}
.navbar-toggler-icon {
	background-image: url('../img/burger.png');
	width: 60px;
	height: 60px;
}
.navbar-toggler-active .navbar-toggler-icon {
	background-image: url('../img/close-orange.png');
}
.navbar-collapse {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	flex-flow: column nowrap !important;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	background: url('../img/bouncing-fruits.gif') no-repeat center center / cover;
}
.navbar-nav {
	margin: 0 auto;
	width: 200px;
}
.navbar-item {
	padding: 0 1em !important;
	border-bottom: 1px solid #FF9E23;
}
.navbar-item:last-of-type {
	border-bottom: none;
	text-shadow: 0 0 3px #fff, 1px 1px 3px #fff, -1px -1px 3px #fff;
}
.nav-link {
	color: #FF9E23 !important;
	width: 170px;
}
.header-basket-icon {
	position: relative;
}
#basket-number {
	position: absolute;
	top: 31%;
	left: 41%;
	font-family: 'Open Sans Condensed-Light';
	font-size: 1.4em;
	color: #ffffff;
	z-index: 2;
}
footer {
	flex-direction: column;
	justify-content: flex-start;
}
.footer-icons {
	text-align: center;
	order: -1;
	margin-bottom: 10px;
}
.footer-icons img {
	width: 35px;
	margin-left: 15px;
}
.footer-icons img:first-of-type {
	margin-left: 0;
}
@font-face {
	font-family: Jura;
	src: url('../fonts/Jura-SemiBold.ttf');
}
@font-face {
	font-family: Montserrat-Regular;
	src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
	font-family: Montserrat-Light;
	src: url('../fonts/Montserrat-Light.ttf');
}
@font-face {
	font-family: 'Open Sans Condensed-Light';
	src: url('../fonts/OpenSansCondensed-Light.ttf');
}