@font-face {
	font-family: "Bebas Neue";
	src: url("./Bebas_Neue/BebasNeue-Regular.ttf");
}
body {
	margin: 0;
	padding: 0;
}
div {
	box-sizing: border-box;
}
h3, p {
	margin: 0;
	padding: 0;
}
p {
	color: grey;
}
section {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.license-window {
	width: 500px;
	padding: 0 15px;
	border: 10px solid lightgrey;
	background-color: #f1f1f1;
}
.license-window__list{
	padding-top: 1em;
	padding-bottom: 0.5em;
}
.license-window__list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
.list-item-active {
	background-color: rgba(211, 244, 255, 0.5);
	outline: 1px solid rgb(173, 216, 230);
}
.license-window__list-item-input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.license-window__list-item-input:checked+label::before {
	border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.license-window__label {
	display: inline-flex;
  align-items: center;
  user-select: none;
	font-family: "Bebas Neue";
	font-size: 1.5em;
	color: grey;
}
.license-window__label::before {
	content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.license-window__number-wrap {
	padding: 1.5em 0;
	text-align: center;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
.license-window__number-of-licenses-p {
	font-size: 1.2em;
	color: black;
}
.license-window__number-input {
	width: 3em;
	height: 2em;
	margin-left: 0.7em;
}
.license-window__total-wrap {
	text-align: center;
	padding-top: 1.2em;
}
.license-window__number-input:focus {
	outline-color: lightblue;
}
.license-window__total {
	font-family: "Bebas Neue";
	font-size: 1.5em;
	color: grey;
	padding-bottom: 0.5em;
}
.license-window__total-price, .US-sup {
	color: deepskyblue;
}
.license-window__buy-button {
	background-color: green;
	color: #fff;
	padding: 1em 3.5em;
	border-radius: 20px;
	border: none;
}
.license-window__selected-plan {
	color: skyblue;
	font-size: 1.1em;
	padding: 1.5em;
}
@media screen and (max-width: 400px) {
	.license-window__list-item {
		flex-direction: column;
	}
}