@font-face {
	font-family: a_DomIno;
	src: url(../fonts/a_DomIno.ttf);
}
@font-face {
	font-family: ArtistNouveau;
	src: url(../fonts/ArtistNouveau.ttf);
}
@font-face {
	font-family: JakobTT;
	src: url(../fonts/jakobtt.ttf);
}
@font-face {
	font-family: JakobTT-bold;
	font-weight: bold;
	src: url(../fonts/jakobtt-bold.ttf);
}
@font-face {
	font-family: Allods-West;
	src: url(../fonts/Allods-West.ttf);
}
body {
	font-family: a_DomIno;
	margin: 0;
	padding: 0;
	color: #756F63;
}
h1, h2, h3, h4, p {
	margin: 0;
}
body p {
	font-family: Allods-West;
	font-size: 14px;
	font-weight: 100;
	line-height: 1.7em;
}
div {
	box-sizing: border-box;
}
header {
	background: url(../img/chocolateBlurBg.jpg) no-repeat center top;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	
}
.top-fixed-wrap {
	background-color: rgba(5, 2, 1, 0.6);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav-toggler {
	background: url(../img/menu-icon1.jpg) no-repeat center top / cover;
	width: 50px;
	height: 50px;
	margin: 10px 0;
	margin-left: 10px;
	display: none;
	border: none;
	box-shadow: 0 0 7px #E2B593; 
}
.nav-list {
	margin: 0;
	display: block;
}
.nav-item {
	display: inline-block;
	padding: 20px 20px;
}
.nav-item a {
	font-size: 20px;
	letter-spacing: 0.05em;
	color: #CEC5B9;
	text-transform: uppercase;
	text-decoration: none;
}
.nav-item-active a {
	color: #DCB78B;
}
.nav-item a:hover {
	color: #fff;
}
.icons {
	display: flex;
	align-items: center;
}
.top-fixed-wrap img {
	height: 40px;
	width: 40px;
}
#header-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
.titles-wrap {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 780px;
	height: 80%;
	margin: 0 auto;
	padding-top: 65px;
}
.chocolate-title {
	font-size: 2.4em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #5E3A2C;
	text-shadow: 2px 2px 0 #E2B593, -1px -1px 0 #E2B593, 1px -1px 0 #E2B593, -1px 1px 0 #E2B593;
}
h1 {
	font-family: ArtistNouveau;
	font-size: 8em;
	line-height: 1em;
	letter-spacing: 0.1em;
	color: #fff;
	text-shadow: 0 5px 10px rgb(246, 150, 87), 5px -5px 15px rgb(69, 34, 15);
}
.header-btn {
	text-align: center;
}
.order-button {
	background: none;
	border: none;
}
.order-button:hover {
	animation: shake 1s ease 0s infinite 1;
	-webkit-animation: shake 1s ease 0s 1 alternate;
	-moz-animation: shake 1s ease 0s 1 alternate;
	-ms-animation: shake 1s ease 0s 1 alternate;
	-o-animation: shake 1s ease 0s 1 alternate;
}
@keyframes shake {
	20% {
		transform: translateX(15px);
		-webkit-transform: translateX(15px);
		-moz-transform: translateX(15px);
		-ms-transform: translateX(15px);
	}
	40% {
		transform: translateX(-15px);
		-webkit-transform: translateX(-15px);
		-moz-transform: translateX(-15px);
		-ms-transform: translateX(-15px);
	}
	60% {
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
	}
}
.header-btn a {
	color: #734638;
	font-family: JakobTT;
	font-weight: bold;
	font-size: 2.5em;
	letter-spacing: 0.3em;
	text-decoration: none;
	text-shadow: 1px 1px 3px #FFE2C2, -1px -1px 3px #FFE2C2, 
	1px -1px 3px #FFE2C2, -1px 1px 3px #FFE2C2;
}
@media screen and (max-width: 1300px) {
	.titles-wrap {
		width: 100%;
		padding: 0;
	}
}
@media screen and (max-width: 992px) {
	body {
		font-size: 80%;
	}
	.header-btn a {
		font-size: 1.8em;
	}
}
@media screen and (max-width: 768px) {
	body {
		font-size: 60%;
	}
	.nav-toggler {
		display: inline;
	}
	.nav-list {
		width: 300px;
		padding: 10px 0;
		display: none;
	}
	.nav-list-dropped {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.nav-item {
		padding: 10px 20px;
	}
	.nav-item a {
		font-size: 18px;
	}
	.chocolate-title {
		margin-bottom: 25px;
	}
	.header-btn a {
		font-size: 1.5em;
	}
	@media screen and (max-width: 540px) {
		h1 {
			font-size: 7em;
			letter-spacing: 0.05em;
		}
	}
	@media screen and (max-width: 490px) {
		nav {
			justify-content: center;
			align-items: center;
		}
		.nav-list {
			width: 180px;
		}
		.icons {
			width: 120px;
			padding: 0 20px;
			flex-wrap: wrap;
			align-items: center;
		}
	}
	@media screen and (max-width: 415px) {
		body {
			font-size: 50%;
		}
	}
	@media screen and (max-width: 415px) {
		body {
			font-size: 45%;
		}
	}