html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: url(../menu-img/fon_chocolate_site3.jpg) repeat 1% 15% / 60%;
}
.wrap-for-sections {
	flex-grow: 1;
}
header {
	background: url(../menu-img/choco-blur-bg1.jpg) no-repeat center bottom / cover;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	box-shadow: 0 0 10px #BB8667, 2px -2px 10px #BB8667;
}
.title-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.title-wrap:before {
	content:'';
	display: block;
	padding-top: 22%;
}
header h1 {
	font-family: ArtistNouveau;
	font-size: calc(5vw + 0.5em);
	letter-spacing: 0.05em;
	color: #fff;
	text-shadow: 0 5px 10px rgb(246, 150, 87), 5px -5px 15px rgb(69, 34, 15);
}
section {
	width: 60%;
	margin: 0 auto;
	margin-top: 19%;
	padding: 100px 0 50px 0;
	background-color: #fff;
	box-shadow: 0 0 7px #BB8667, 1px -1px 7px #BB8667;
	text-align: center;
}
#enter-section {
	display: none;
}
form {
	width: 330px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
form p {
	display: inline;
	font-size: 1.1em;
	color: #794841;
}
label {
	padding-bottom: 1em;
}
input {
	width: 220px;
	margin-left: 1.5em;
}
.red-star {
	color: red;
}
.submit-btn {
	font-family: Allods-West;
	font-size: 1.2em;
	padding: 0.2em 1.2em;
	color: #fff;
	border: 1px solid #fff;
	background-color: #BB8667;
	
	transition-duration: 1s;
}
.submit-btn:hover {
	color: #BB8667;
	border-color: #BB8667;
	background-color: #fff;
}
.toggle-form {
	margin-top: 3em;
}
.toggle-form p {
	margin-bottom: 1em;
	color: #BB8667;
}
.toggle-btn {
	font-family: Allods-West;
	font-size: 1.1em;
	padding: 0.3em 1.2em;
	color: #BB8667;
	border: 1px solid #BB8667;
	background-color: #fff;
	
	transition-duration: 1s;
}
.toggle-btn:hover {
	color: #fff;
	border-color: #fff;
	background-color: #BB8667;
}