@font-face {
	font-family: a_DomIno;
	src: url(../fonts/a_DomIno.ttf);
}
@font-face {
	font-family: ArtistNouveau;
	src: url(../fonts/ArtistNouveau.ttf);
}
@font-face {
	font-family: JakobTT;
	src: url(../fonts/jakobtt.ttf);
}
@font-face {
	font-family: JakobTT-bold;
	font-weight: bold;
	src: url(../fonts/jakobtt-bold.ttf);
}
@font-face {
	font-family: Allods-West;
	src: url(../fonts/Allods-West.ttf);
}
body {
	font-family: a_DomIno;
	margin: 0;
	padding: 0;
	color: #756F63;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
body p {
	font-family: Allods-West;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.7em;
}
div {
	box-sizing: border-box;
}
.top-fixed-wrap {
	background-color: rgba(5, 2, 1, 0.6);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
}
nav {
	display: flex;
	justify-content: space-around;
}
.nav-toggler {
	background: url(../img/menu-icon1.jpg) no-repeat center top / cover;
	width: 50px;
	height: 50px;
	margin-right: 15px;
	display: none;
	border: none;
	box-shadow: 0px 0px 7px #fff, 2px 2px 7px #fff, -2px -2px 7px #fff;
}
.nav-list {
	margin: 0;
	display: block;
}
.nav-item {
	display: inline-block;
	padding: 20px 20px;
}
.nav-item a {
	font-size: 20px;
	letter-spacing: 0.05em;
	color: #CEC5B9;
	text-transform: uppercase;
	text-decoration: none;
}
.nav-item-active a {
	color: #DCB78B;
}
.nav-item a:hover {
	color: #fff;
}
.icons {
	display: flex;
	align-items: center;
}
.top-fixed-wrap img {
	height: 40px;
	width: 40px;
}
footer {
	margin-top: 20px;
	padding: 20px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(187, 134, 103, 0.8);
}
.export-info {
	font-size: 18px;
	color: #fff;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.top-fixed-wrap {
		background: none;
		display: flex;
		right: 0;
		width: auto;
		height: 450px;
	}
	.nav-wrap-mob {
		background-color: rgba(187, 134, 103, 0.8);
		box-shadow: -3px 3px 5px #BE8A65;
	}
	.nav-toggler {
		display: inline;
	}
	nav {
		flex-direction: column;
		align-items: flex-end;
	}
	.icons {
		visibility: hidden;
		flex-wrap: wrap;
		align-self: center;
		width: 80px;
	}
	.nav-list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		visibility: hidden;
	}
	.nav-list-dropped {
		visibility: visible;
		padding: 0 15px;
	}
	.nav-item {
		padding: 10px 0;
	}
	.nav-item a {
		font-size: 18px;
		color: #fff;
	}
	.nav-item a:hover {
		color: #4E1D14;
	}
	.export-info {
		font-size: 16px;
	}
}
@media screen and (max-width: 675px) {
	.export-info {
		width: 410px;
	}
	.export-info:last-of-type {
		margin-top: 10px;
	}
}
@media screen and (max-width: 450px) {
	.export-info {
		width: 250px;
	}
}