* {
    box-sizing: border-box;
}

body {
    margin: 100px;
}

.field {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snakeBody {
	background: url(../SnakeGame/img/scale.png);
	background-size: cover;
	border-radius: 50%;
}

.head {
	background: url(../SnakeGame/img/snake.png);
	background-size: cover;
	border-radius: 10%;
}

.mouse {
	background: url(../SnakeGame/img/mouse.jpg);
	background-size: cover;
}