@media screen and (max-width: 992px) {
	section {
		padding-top: 20px;
	}
	.about-wrap {
		width: 100%;
	}
	.about-wrap h3 {
		padding-left: 150px;
	}
}
@media screen and (max-width: 920px) {
	.about-container {
		justify-content: space-evenly;
	}
	.about-container img {
		width: 400px;
	}
	.abouttext {
		width: 420px;
		height: 408px;
		padding: 20px;
	}
	.abouttext p {
		font-size: 16px;
		color: #35322F;
	}
}
@media screen and (max-width: 835px) {
	.about-wrap h3 {
		padding: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.about-container {
		height: 100%;
	}
	.about-container img {
		width: 437px;
	}
	.abouttext {
		margin-top: 5px;
		width: 445px;
		padding: 30px 20px;
	}
}
@media screen and (max-width: 608px) {
	.menu li:first-of-type {
		background-color: rgba(121, 49, 9, 0.7);
	}
	.menu li:nth-child(3) {
		background-color: rgba(238, 147, 59, 0.7);
	}
}
@media screen and (max-width: 450px) {
	section {
		padding: 10px 0;
	}
	.about-wrap h3 {
		margin-bottom: 10px;
		font-size: 35px;
	}
	.about-container img {
		width: 90%;
	}
	.abouttext {
		padding: 20px;
		width: 90%;
		height: 100%;
	}
}